@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Orbitron:wght@400..900&display=swap');

:root {
    --font-primaria: "Roboto", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
    --font-terciaria: "Roboto Condensed", sans-serif;
    --color-azul: rgb(36, 57, 246);
    --color-white: rgb(241, 249, 255);
    --color-black: #363738;
    --background-menu:rgba(255, 255, 255, 0.685);
    --background-containers:rgb(233, 237, 239);
  }

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

.menu{
    width: 100vw;
    height: 11vh;
    display: flex;
    background-color: var(--background-menu);
    justify-content:flex-start;
    align-items: center;
    gap: 123px;
    position: fixed;
    z-index: 1000;
}

.menu__icon{
    margin-left: 7.3vw;
    height: 70%;
}

.menu__links{
    display: flex;
    gap: 35px;
}

.menu__links__link{
    font-size: 10px;
    color: var(--color-black);
    text-decoration: none;
    font-family: var(--font-primaria);
    font-weight: 700;
    font-style: normal;
}

.menu .fas { 
    color: var(--color-black);
    margin-left: 20px;
}

.primeira-section{
    height: 100vh;
    background-image: url(../sets/praia3.jpg);
    background-size: cover;
}

.section-nossas-tecnologias{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section-nossas-tecnologias__tecnologias{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    gap: 30px;
}

.section-nossas-tecnologias__tecnologias__box{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.section-nossas-tecnologias__tecnologias__box h2{
    width: 100%;
    font-family: var(--font-secundaria);
}

.section-nossas-tecnologias__tecnologias__box__tecnologia{
    height: 200px;
    width: 250px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

.imagem-tec{
    max-height: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.plataforma-img{
    width: 100%;
}

.sensor-img{
    width: 100%;
}

.sql-img{
    width: 100%;
}

.saiba-mais{
    position: absolute;
    z-index: 99;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saiba-mais p{
    margin-left: 20px;
    font-size: 20px;
    color: white;
    font-family: var(--font-primaria);
    font-weight: 400;
    font-style: normal;
}

.saiba-mais img{
    height: 54px;
    width: 45px;
}

.section-objetivos{
    min-height: 110vh;
    background-image: url(../sets/background-gray.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.objetivo-maior{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70vw;
    gap: 20px;
}

.objetivo-maior img{
    width: 400px; 
    height: 350px;
    border-radius: 10px;
}

.objetivo-maior__texto{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.objetivo-maior__titulo{
    font-family: var(--font-terciaria);
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
}

.azul{
    color: var(--color-azul)
}

.objetivo-maior__texto p{
    margin-top: 10px;
    font-family: var(--font-primaria);
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
}

.objetivo-maior__texto hr{
    margin: 15px 0;
    border: none;            
    border-top: 5px solid var(--color-azul); 
}

.dado-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.dado {
    margin-top: 10px;
}

.dado h5{
    font-family: var(--font-terciaria);
    font-size: 15px;
}

.section-publico-impactado{
    min-height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-publico-impactado article{
    margin: 50px 0;
    max-width: 75vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.section-publico-impactado article > h1{
    font-size: 35px;
    width: 100%;
    font-family: var(--font-secundaria);
    text-align: center;
}

.section-publico-impactado__box{
    margin-top: 50px;
    height: 350px;
    width: 450px;
    position: relative;
}

.section-publico-impactado article > img{
    margin-top: 50px;
    border-radius: 10px;
    height: 350px;
    width: 450px;
}

.section-publico-impactado__box > h2{
    font-family: var(--font-terciaria);
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

.section-publico-impactado__box > p{
    margin-top: 20px;
    font-family: var(--font-primaria);
    font-size: 15px;
    line-height: 20px;
}

.section-publico-impactado__box > button{
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    border: 0;
    background-color: var(--color-azul);
    border-radius: 500px;
    color: var(--color-white);
    font-family: var(--font-primaria);
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.section-beneficios{
    min-height: 120vh;
    background-image: url(../sets/desenhoBackground.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.section-beneficios > article{
    max-width: 85vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.section-beneficios .beneficio{
    width: 400px;
}

.section-beneficios .beneficio h2{
    font-family: var(--font-terciaria);
    font-weight: 500;
    font-size: 30px;
}

.section-beneficios .beneficio p{
    margin-top: 20px;
    font-family: var(--font-primaria);
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.section-beneficios__box-images {
    display: flex;
    height: 220px;
    width: 85vw;
    overflow: hidden;
    border-radius: 10px;
}

.section-beneficios__box-images div {
    flex: 1;
}

.section-beneficios__box-images div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-como-a-solucao-ajuda{
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.titulo-funcionamento-solucao{
    font-family: var(--font-terciaria);
    font-size: 50px;
    text-align: center;
}

.titulo-funcionamento-solucao span{
    display: block;
}

.container-solucao{
    max-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.container-solucao__imagem{
    width: 700px;
    border-radius: 20px;
}

.container-solucao__textos{
    width: 250px;
    padding: 40px 30px;
    background-color: var(--background-containers);
    border-radius: 16px;
}

.container-solucao__textos > h2{
    font-family: var(--font-terciaria);
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
}

.container-solucao__textos > p{
    margin-top: 20px;
    font-family: var(--font-primaria);
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
}

.box-contact-us{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

.box-contact-us h1{
    font-family: var(--font-terciaria);
    font-size: 60px;
    font-weight: 400;
    margin-left: 25vw;
}

.box-contact-us hr{
    width: 270px;
    height: 2.5px;
    background-color: var(--color-azul);
    margin-left: 25vw;
}

.box-informacoes{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-black);
}

.nome-principal{
    font-family: "Orbitron", sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.nome-principal span{
    display: block;
}

.box-informacoes > div{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: var(--color-white);
}

.box-informacoes > div > h5{
    font-family: var(--font-terciaria);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
} 

.box-informacoes > div > a{
    position: relative;
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 15px;
    color: var(--color-white);
    text-decoration: none;
}

.box-informacoes > div > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--color-white);
    transition: width 1s ease;
  }

.box-informacoes > div > a:hover {
    color: rgb(140, 147, 151);
}

.box-informacoes > div > a:hover::after {
    width: 65%;
}

.box-informacoes > div:first-of-type {
    justify-content: center;
    align-items: center;
}

.logo-footer{
    width: 200px;
    height: 200px;
}